@model List<Distribution>

@{
    ViewData["Title"] = "Distribution";
}

<h1 class="bg-info text-white">Movies</h1>
<a asp-action="Create" class="btn btn-secondary">Create Distribution</a>

<table class="table table-sm table-bordered">
    <tr>
        <th class="sort">Id</th>
        <th class="sort">Name</th>
        <th>Movie</th>
        <th class="sort">Location</th>
        <th>Telephone</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (Distribution distribution in Model)
    {
        <tr>
            <td>@distribution.Id</td>
            <td>@distribution.Name</td>
            <td>
                <table>
                    <tr>

                        @foreach (MovieDistribution md in distribution.MovieDistribution_R)
                        {
                            <td>
                                @md.Movie_R.MovieDetail_R.Name
                            </td>
                        }
                    </tr>
                </table>
            </td>
            <td>@distribution.Location</td>
            <td>@distribution.Telephone</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@distribution.Id">
                    Update
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@distribution.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="pagingDiv" page-model="@ViewBag.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="paging" page-class-selected="active"></div>