@model Movie

@{
    ViewData["Title"] = "Create a Movie";
}

<h1 class="bg-info text-white">Create a Movie</h1>
<a asp-action="Index" class="btn btn-secondary">View all Movies</a>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="@Model.MovieDetail_R.Name"></label>
        <input type="text" asp-for="@Model.MovieDetail_R.Name" class="form-control" />
        <span asp-validation-for="@Model.MovieDetail_R.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductionCompanyId">Production Company</label>
        <select asp-for="ProductionCompanyId" asp-items="ViewBag.Production" class="form-control">
        </select>
    </div>
    <div class="form-group">
        <label for="Poster"></label>
        <input type="file" id="Poster" name="Poster" class="form-control" />
        <span asp-validation-for="@Model.MovieDetail_R.Poster" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MovieDetail_R.Budget"></label>
        <input type="text" asp-for="@Model.MovieDetail_R.Budget" class="form-control" />
        <span asp-validation-for="@Model.MovieDetail_R.Budget" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MovieDetail_R.Gross"></label>
        <input type="text" asp-for="@Model.MovieDetail_R.Gross" class="form-control" />
        <span asp-validation-for="@Model.MovieDetail_R.Gross" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.MovieDetail_R.ReleaseDate"></label>
        <input type="date" asp-for="@Model.MovieDetail_R.ReleaseDate" class="form-control" />
        <span asp-validation-for="@Model.MovieDetail_R.ReleaseDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

